<a href="https://colab.research.google.com/github/kimsang-kyu/Python_application/blob/main/20200601_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기계학습
 - 기계학습은 자료를 분석/ 분류해서 기존의 정보로 새로운 의미르 찾아내는 과정

##SVM(support vector machine)
 - 기계학습의 분야 중 하나로 패턴 인식, 자료 분석을 위한 지도 학습 모델 

 - 장점
   - 데이터마이닝 기법 중에서도 예측력이 우수한 알고리즘
   - 샘플이 작을 때에도 모형의 적합도가 우수함

 - 단점
  - 단위비율과 커널 선택에 따라 모형이 민감함
  - 다범주 분류의 경우 기하급수적으로 학습속도와 분류속도가 느려짐

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv')
iris

     Unnamed: 0  Sepal.Length  ...  Petal.Width    Species
0             1           5.1  ...          0.2     setosa
1             2           4.9  ...          0.2     setosa
2             3           4.7  ...          0.2     setosa
3             4           4.6  ...          0.2     setosa
4             5           5.0  ...          0.2     setosa
..          ...           ...  ...          ...        ...
145         146           6.7  ...          2.3  virginica
146         147           6.3  ...          1.9  virginica
147         148           6.5  ...          2.0  virginica
148         149           6.2  ...          2.3  virginica
149         150           5.9  ...          1.8  virginica

[150 rows x 6 columns]

In [ ]:
###설명변수와 반응변수
x = iris.iloc[50:,3:5]
y = iris.iloc[50:,5]

In [ ]:
### Train & Test
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.4)

In [ ]:
###SVM
svc = SVC(kernel='linear',C=1)
model = svc.fit(x_train,y_train)

In [ ]:
#예측
y_pred = model.predict(x_test)

In [ ]:
pd.crosstab(y_test,y_pred)

col_0       versicolor  virginica
Species
versicolor          21          0
virginica            1         18

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

  versicolor       0.95      1.00      0.98        21
   virginica       1.00      0.95      0.97        19

    accuracy                           0.97        40
   macro avg       0.98      0.97      0.97        40
weighted avg       0.98      0.97      0.97        40

In [ ]:
### mtcars
data_file = 'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/mtcars.csv'
mtcars = pd.read_csv(data_file)

In [ ]:
mtcars

             Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [ ]:
###설명변수와 반응변수
x = mtcars[['mpg','am']]
x.std = StandardScaler().fit_transform(x)
y = mtcars['vs']

In [ ]:
### Train & Test
x_train, x_test, y_train, y_test = train_test_split(x.std,y,test_size = 0.4)

In [ ]:
###SVM
svc = SVC(kernel='linear',C=1)
model = svc.fit(x_train,y_train)

In [ ]:
#예측
y_pred = model.predict(x_test)

In [ ]:
pd.crosstab(y_test,y_pred)

col_0  0  1
vs
0      4  2
1      3  4

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.57      0.67      0.62         6
           1       0.67      0.57      0.62         7

    accuracy                           0.62        13
   macro avg       0.62      0.62      0.62        13
weighted avg       0.62      0.62      0.62        13

In [ ]:
### accuracy
model.score(x_test,y_test)

0.6153846153846154

###다중 클래스 분류

In [ ]:
###data load
house = pd.read_csv('http://youngho.iwinv.net/data/house_price_prediction.csv')

In [ ]:
x = house[['bedrooms','sqft_living','view','condition','yr_built']]
x.std = StandardScaler().fit_transform(x)
y = house['price_cat']

In [ ]:
### Train & Test
x_train, x_test, y_train, y_test = train_test_split(x.std,y,test_size = 0.4)

In [ ]:
###SVM
svc = SVC(kernel='linear',C=1)
model = svc.fit(x_train,y_train)

In [ ]:
#예측
y_pred = model.predict(x_test)

In [ ]:
pd.crosstab(y_test,y_pred)

col_0      Class2  Class3  Class4
price_cat
Class2        313     121      59
Class3        178     193     145
Class4         72     132     156

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Class2       0.56      0.63      0.59       493
      Class3       0.43      0.37      0.40       516
      Class4       0.43      0.43      0.43       360

    accuracy                           0.48      1369
   macro avg       0.47      0.48      0.48      1369
weighted avg       0.48      0.48      0.48      1369

In [ ]:
### accuracy
model.score(x_test,y_test)

0.4835646457268079