<a href="https://colab.research.google.com/github/kimsang-kyu/Python_application/blob/main/20200527_%EB%A1%9C%EC%A7%80%EC%8A%A4%ED%8B%B1%ED%9A%8C%EA%B7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [ ]:
iris = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv')
iris

     Unnamed: 0  Sepal.Length  ...  Petal.Width    Species
0             1           5.1  ...          0.2     setosa
1             2           4.9  ...          0.2     setosa
2             3           4.7  ...          0.2     setosa
3             4           4.6  ...          0.2     setosa
4             5           5.0  ...          0.2     setosa
..          ...           ...  ...          ...        ...
145         146           6.7  ...          2.3  virginica
146         147           6.3  ...          1.9  virginica
147         148           6.5  ...          2.0  virginica
148         149           6.2  ...          2.3  virginica
149         150           5.9  ...          1.8  virginica

[150 rows x 6 columns]

In [ ]:
x = iris[['Sepal.Length','Sepal.Width','Petal.Length','Petal.Width']]
y = iris['Species']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4)

In [ ]:
logistic = LogisticRegression()
model = logistic.fit(x_train,y_train)

In [ ]:
y_pred = model.predict(x_test)
y_pred

array(['virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'setosa', 'virginica', 'virginica', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'virginica', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'virginica', 'setosa', 'virginica', 'setosa', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'versicolor', 'setosa'],
      dtype=object)

In [ ]:
pd.crosstab(y_test,y_pred)

col_0       setosa  versicolor  virginica
Species
setosa          16           0          0
versicolor       0          21          1
virginica        0           3         19

In [ ]:
model.score(x_test,y_test)

0.9166666666666666

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        21
  versicolor       0.89      0.84      0.86        19
   virginica       0.86      0.90      0.88        20

    accuracy                           0.92        60
   macro avg       0.92      0.91      0.91        60
weighted avg       0.92      0.92      0.92        60

In [ ]:
house = pd.read_csv('http://youngho.iwinv.net/data/house_price_prediction.csv')
house.head() # bathrooms	(욕실의 갯수), sqft_living(주방의 면적),view, condition,yr_bulit, => price_cat

              date     price price_cat  ...       city  statezip  country
0  2014-05-02 0:00  313000.0    Class3  ...  Shoreline  WA 98133      USA
1  2014-05-02 0:00  342000.0    Class3  ...       Kent  WA 98042      USA
2  2014-05-02 0:00  420000.0    Class3  ...   Bellevue  WA 98008      USA
3  2014-05-02 0:00  550000.0    Class2  ...    Redmond  WA 98052      USA
4  2014-05-02 0:00  490000.0    Class2  ...    Seattle  WA 98115      USA

[5 rows x 19 columns]

In [ ]:
x = house[['bedrooms','sqft_living','sqft_above','floors','condition','yr_built']]
y = house['price_cat']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [ ]:
logistic = LogisticRegression(multi_class = 'ovr')
model = logistic.fit(x_train,y_train)

In [ ]:
y_pred = model.predict(x_test)
y_pred

array(['Class3', 'Class2', 'Class2', ..., 'Class3', 'Class2', 'Class2'],
      dtype=object)

In [ ]:
pd.crosstab(y_test,y_pred)

col_0      Class2  Class3  Class4
price_cat
Class2        220     102      51
Class3        129     146      92
Class4         50      89     148

In [ ]:
model.score(x_test,y_test)

0.5004868549172347

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Class2       0.55      0.59      0.57       373
      Class3       0.43      0.40      0.41       367
      Class4       0.51      0.52      0.51       287

    accuracy                           0.50      1027
   macro avg       0.50      0.50      0.50      1027
weighted avg       0.50      0.50      0.50      1027