<a href="https://colab.research.google.com/github/kimsang-kyu/Python_application/blob/main/20200608_%EC%8B%A0%EA%B2%BD%EB%A7%9D_%EB%AA%A8%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv')

In [ ]:
### 입력변수(x)와 출력변수(y)
x = iris.iloc[50:,3:5]
x.std = StandardScaler().fit_transform(x)
y = iris.iloc[50:, 5]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x.std, y, test_size=0.4)

In [ ]:
### MLP
mlp = MLPClassifier(solver='lbfgs',hidden_layer_sizes=(10,))
model = mlp.fit(x_train,y_train)

In [ ]:
###predict
y_pred = model.predict(x_test)

In [ ]:
###crosstab
pd.crosstab(y_test,y_pred)

col_0       versicolor  virginica
Species
versicolor          20          2
virginica            3         15

### mtcars

In [ ]:
mtcars = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/mtcars.csv")
mtcars.head()

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [ ]:
# x, y
x = mtcars[['mpg','am']]
x.std = StandardScaler().fit_transform(x)
y = mtcars.vs

In [ ]:
#Train and Test
x_train, x_test, y_train, y_test = train_test_split(x.std, y, test_size=0.4)

In [ ]:
### MLP
mlp = MLPClassifier(solver='lbfgs',hidden_layer_sizes=(10,))
model = mlp.fit(x_train,y_train)

In [ ]:
###predict
y_pred = model.predict(x_test)

In [ ]:
###crosstab
pd.crosstab(y_test,y_pred)

col_0  versicolor  virginica
vs
0               6          1
1               3          3