<a href="https://colab.research.google.com/github/kimsang-kyu/Python_application/blob/main/20200603_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [ ]:
import pandas as pd
house = pd.read_csv("http://youngho.iwinv.net/data/house_price_prediction.csv")
house.head()

              date     price price_cat  ...       city  statezip  country
0  2014-05-02 0:00  313000.0    Class3  ...  Shoreline  WA 98133      USA
1  2014-05-02 0:00  342000.0    Class3  ...       Kent  WA 98042      USA
2  2014-05-02 0:00  420000.0    Class3  ...   Bellevue  WA 98008      USA
3  2014-05-02 0:00  550000.0    Class2  ...    Redmond  WA 98052      USA
4  2014-05-02 0:00  490000.0    Class2  ...    Seattle  WA 98115      USA

[5 rows x 19 columns]

In [ ]:
x = house[['bedrooms','sqft_living','view','condition','yr_built']]
x.std = StandardScaler().fit_transform(x)
y = house['price_cat']

In [ ]:
### Train & Test
x_train, x_test, y_train, y_test = train_test_split(x.std,y,test_size = 0.4)

In [ ]:
###SVM
svc = SVC(kernel='linear',C=1)
model = svc.fit(x_train,y_train)

In [ ]:
#예측
y_pred = model.predict(x_test)

In [ ]:

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Class2       0.54      0.54      0.54       497
      Class3       0.37      0.68      0.48       474
      Class4       0.00      0.00      0.00       398

    accuracy                           0.43      1369
   macro avg       0.30      0.41      0.34      1369
weighted avg       0.32      0.43      0.36      1369

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
### accuracy
model.score(x_test,y_test)

0.43243243243243246

In [ ]:
###SVM
svc = SVC(kernel='rbf',C=1,gamma =1)
model = svc.fit(x_train,y_train)

In [ ]:
#예측
y_pred = model.predict(x_test)

In [ ]:
### accuracy
model.score(x_test,y_test)

0.4784514243973703